# Ignore node_modules
node_modules/

# Ignore log files
*.log

# Ignore dist directory (if you're building for production)
dist/

# Ignore environment files (if used)
.env
.env.*

# Ignore temporary files
*.tmp
*.cache

# Ignore Yarn files
yarn.lock
